.category-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .category {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1rem 1rem 0;
    box-shadow: 0px 25px 31px -20px rgba(0, 0, 0, 0.22);
    padding-bottom: 20px;

    .category-image {
      flex: 1;
      max-width: 30%;
      height: 100%;
      align-self: center;

      img {
        width: 100%;
      }
    }

    .category-details {
      flex: 2;
      text-align: center;
    }

    &:nth-child(odd) {
      flex-direction: row;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}
